html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* QUIET CORNER STYLES */

.site-container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 990px) {

  .site-container {
    padding-left: 22px;
    padding-right: 22px;
  }

}

.headline-text {
  font-family: "almaq-refined" !important;
}

.body-text {
  font-family: "Nunito Sans", sans-serif;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.navbar {
  height: 56px;
  border-bottom: solid 2px #f5f6fc;
}

.nav-link {
  margin-left: 60px;
  font-size: 13px;
  color: #13196f;
  text-decoration: none;
}

.homepage {
}

.hero {
  display: flex;
  align-items: center;
  position: relative;
  height: 554px;
  overflow: hidden;
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
}

.hero-image {
  position: relative;
  height: 554px;
  top: 50px;
  right: 0px;
}

.hero-cta {
  display: flex;
  flex-direction: column;
}

.hero-cta__title {
  margin-bottom: 22px;
  font-family: "almaq-refined" !important;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #13196f;
}

.hero-cta__btn {
  width: 180px;
  height: 44px;
  border: none;
  border-radius: 24px;
  background-color: #ff6e6d;
  font-family: "almaq-refined" !important;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
}

.hero-cta__btn:focus,
.hero-cta__btn:active {
  outline: none;
}

.hero-cta__btn:hover {
  cursor: pointer;
}


@media ( max-width: 990px) {

  .hero {
    height: 380px;
  }

  .hero-cta__title {
    font-size: 32px;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-image {
    right: -30px;
    top: -50px;
    position: absolute;
    height: 400px;
    z-index: -1;
    opacity: 0.15;
  }
}

.mission {
  height: 600px;
  background-color: #ff6e6d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 645px;
}

.mission-image {
  height: 42px;
  margin-bottom: 22px;
}

.mission-headline {
  margin-bottom: 25px;
  font-family: "almaq-refined" !important;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #fffcfc;
}

.mission-copy {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  max-width: 360px;
}

@media ( max-width: 990px) {

  .mission {
    height: 380px;
  }

  .mission-headline {
    font-size: 32px;
  }

}

.pay-as-you-go {
  height: 638px;
  background-color: #0c1267;
  background-image: url("../images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-as-you-go-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 725px;
  margin-left: auto;
  margin-right: auto;
}

.pay-as-you-go-content-container {
  display: flex;
}

.pay-as-you-go-image {
  height: 435px;
}

.pay-as-you-go__headline-wrap {
  position: relative;
}

.pay-as-you-go__headline {
  margin-bottom: 30px;
  font-family: "almaq-refined" !important;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #fbabab;
}

.pay-as-you-go__copy {
  opacity: 0.9;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 262px;
}

.pay-as-you-go__burst {
  position: absolute;
  right: 50px;
  top: -20px;
  height: 24px;
}
.pay-as-you-go__bubble {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(20deg);
  width: 95px;
  height: 95px;
  background-color: #080c50;
  border-radius: 50%;
  position: absolute;
  top: -90px;
  right: -50px;
  font-family: "almaq-refined" !important;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.publishers-rejoice {
  height: 600px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/grid.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: repeat;
  background-size: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publishers-rejoice-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.publishers-rejoice__img {
  height: 100px;
  margin-bottom: 25px;
}

.publishers-rejoice__headline {
  margin-bottom: 25px;
  font-family: "almaq-refined" !important;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: center;
  color: #0c1267;
}

.publishers-rejoice__copy {
  width: 404px;

  opacity: 0.55;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #0c1267;
}

@media ( max-width: 990px) {

  .pay-as-you-go {
    height: 900px;
    padding-top: 80px;
  }

  .pay-as-you-go-content {
    flex-direction: column;
  }

  .pay-as-you-go-content-container {
    width: 100%;
    justify-content: center;
  }

  .pay-as-you-go__headline {
    font-size: 32px;
    text-align: center;
  }

  .pay-as-you-go-copy {
    text-align: center;
  }

  .publishers-rejoice {
    height: 380px;
  }

  .publishers-rejoice__headline {
    font-size: 32px;
  }

  .publishers-rejoice__copy {
    width: auto;
    font-size: 16px;
  }

}

.contact {
  display: flex;
  height: auto;
  padding-top: 160px;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 595px;
  margin-left: auto;
  margin-right: auto;
}

.contact-headline {
  margin-bottom: 35px;
  font-family: "almaq-refined" !important;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: center;
  color: #0c1267;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.contact-form input {
  width: 100%;
  height: 57px;
  border-radius: 5px;
  border: solid 3px #f3f5f7;
  font-family: "Nunito Sans", sans-serif;
  color: #0c1267;
  outline: none;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 18px;
  font-weight: 600;
  transition: .2s ease;
}

.contact-form textarea:active,
.contact-form textarea:focus {
  outline: none;
  border: solid 3px #0c1267;

}

.contact-form textarea {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: solid 3px #f3f5f7;
  font-family: "Nunito Sans", sans-serif;
  color: #0c1267;
  outline: none;
  padding-top: 12px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 18px;
  font-weight: 600;
  transition: .2s ease;
}

.contact-form input:active,
.contact-form input:focus {
  outline: none;
  border: solid 3px #0c1267;
}

.contact-form label {
  margin-bottom: 8px;
  width: 136px;
  height: 16px;
  opacity: 0.23;
  font-family: "almaq-refined" !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: left;
  color: #0c1267;
}

.contact-form__btn {
  width: 595px;
  height: 53px;
  border-radius: 3px;
  background-color: #ff6e6d;
  font-family: "almaq-refined" !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.contact-form__btn:hover {
  cursor: pointer;
}

.contact-form__btn:active,
.contact-form__btn:focus {
  outline: none;
}

@media ( max-width: 990px ) {
  .contact {
    padding-top: 48px;
  }

  .contact-container {
    width: auto;
  }

  .contact-headline {
    font-size: 32px;
  }

  .contact-form__btn {
    width: auto;
  }

  .contact-form {
    margin-bottom: 48px;
  }
}

.footer {
  height: 276px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer img {
  height: 100px;
  margin-bottom: 22px;
}

.copyright {
  width: 383px;
  height: 35px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff6e6d;
}

.faqs {
  max-width: 645px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 75px;
}

.faq-wrapper {
  margin-top: 75px;
}

.faq-row {
  border-bottom: solid 2px #f1f1f5;
}

.faq-content {
  max-height: 0px;
  overflow: hidden;
  transition: .2s ease;
  opacity: 0.55;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #0c1157;
}

.faq-content--open {
  max-height: 500px;
  padding-bottom: 20px;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
}

.faq-button {
  height: 30px;
}

.faq-header:hover {
  cursor: pointer;
}

.faq-title {
  opacity: 0.86;
  font-family: "almaq-refined" !important;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;

  letter-spacing: normal;
  text-align: left;
  color: #13196f;
  padding-right: 12px;
}



@media (max-width: 990px) {

  .faq-wrapper {
    margin-top: 0px;
  }

  .faq-title {
    font-size: 18px;
  }

  .faq-button {
    height: 20px;
  }

  .faq-content {
    font-size: 14px;
  }

}
